migrations/n8n/workflows/004_Multi_ai.json
{
  "updatedAt": "2024-11-21T14:35:22.000Z",
  "createdAt": "2024-11-21T13:06:51.616Z",
  "id": "1HwdLiw4wNe4J9ex",
  "name": "Multi ai",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "d62b9fda-4609-4d65-a0a2-23fc7a3ce54f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        860,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "igqCGsHg8vp0q97r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "id": "98e1b760-12ab-4f10-8db9-fc679b538f96",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        980,
        500
      ]
    },
    {
      "parameters": {
        "name": "Agent1",
        "description": "risponde con un pensiero personale alle domande fatte dall'assistente ",
        "workflowId": {
          "__rl": true,
          "value": "6sc2Wbwohhru4cco",
          "mode": "list",
          "cachedResultName": "agent1 multi ai"
        }
      },
      "id": "519dd615-0186-42bc-9530-684c4a315721",
      "name": "Agent1",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1120,
        520
      ]
    },
    {
      "parameters": {
        "name": "Agent2",
        "description": "risponde con un pensiero personale alle domande fatte dall'assistente ",
        "workflowId": {
          "__rl": true,
          "value": "6GGTrkv5J7AC4iNz",
          "mode": "list",
          "cachedResultName": "agent2 multi ai"
        }
      },
      "id": "cd3a4b23-e35a-4a8c-83d6-1ac888922bc2",
      "name": "Agent2",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1260,
        500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ba7084d4-350a-4724-ac92-c5f27304d580",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        640,
        280
      ],
      "webhookId": "d2ddcfa2-3430-4433-8a7f-92ccd1f2842d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Questo agent gestisce un podcast e fa delle domande riguardanti l'argomento scelto dall'utente.\n\nquando fai una domanda chiama sempre il tool Agent1.\nSuccessivamente Chiama il tool Agent2 per sapere cosa ne pensa lei.\nQuando chiami gli agenti devi passargli anche le risposte che ci sono state precedentemente\n\nDevi sempre chiamare tutti i tuoi tool a disposizione.\n\nin questo podcast Agent1 si chiama Antonio e Agent2 si chiama Silvia, quando danno le loro considerazioni specifica se si tratta di Antonio o Silvia.\n\nQuando gli agent rispondono devi formulare la risposta per farla sembrare davvero un podcast e una discussione tra loro due. tu non parli nel podcast\n\nRicorda che antonio e silvia devono sempre essere in disaccordo\n\nDopo che entrambi hanno risposto devi fare a loro una domanda e dovrai chiamare il tool Agent1 per avere una risposta e successivamente dovrai chiamare il tool Agent2 per avere un altra risposta\n\nUna volta fatta la domanda devi chiamare tutti gli agent per avere subito la risposta "
        }
      },
      "id": "55d1733a-557e-493b-9515-3aa691a5ff4c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        860,
        280
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agent1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "cbb97400-41c7-41a5-b862-fe267603fdc3",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2024-11-21T13:06:51.644Z",
      "createdAt": "2024-11-21T13:06:51.644Z",
      "role": "workflow:owner",
      "workflowId": "1HwdLiw4wNe4J9ex",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
