migrations/n8n/workflows/007_Form_a_Google_Sheets.json
{
  "updatedAt": "2025-12-12T10:48:02.431Z",
  "createdAt": "2025-12-12T10:45:34.855Z",
  "id": "4V2GtUCPKv816IeK",
  "name": "Form a Google Sheets",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "5c1c301d-0df8-4749-bc4d-43a7b5d455be",
        "formTitle": "Modulo di Contatto",
        "formDescription": "Compila il form per inviarci la tua richiesta",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome Completo",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Telefono"
            },
            {
              "fieldLabel": "Messaggio",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "form-trigger",
      "name": "Form di Contatto",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        240,
        304
      ],
      "webhookId": "5c1c301d-0df8-4749-bc4d-43a7b5d455be"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "Nome",
              "value": "={{ $json['Nome Completo'] }}",
              "type": "string"
            },
            {
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "name": "Telefono",
              "value": "={{ $json.Telefono }}",
              "type": "string"
            },
            {
              "name": "Messaggio",
              "value": "={{ $json.Messaggio }}",
              "type": "string"
            },
            {
              "name": "Data Invio",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-data",
      "name": "Prepara Dati",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "save-to-sheets",
      "name": "Salva su Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Grazie {{ $('Prepara Dati').item.json.Nome }}! Abbiamo ricevuto la tua richiesta e ti contatteremo presto.",
        "options": {}
      },
      "id": "success-response",
      "name": "Risposta di Successo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "content": "## 📋 Form di Contatto → Google Sheets\n\n**Cosa fa questo workflow:**\n1. Riceve i dati dal form\n2. Prepara i dati con timestamp\n3. Salva su Google Sheets\n4. Mostra messaggio di conferma\n\n**Setup richiesto:**\n✅ Configura Google Sheets:\n   - Clicca sul nodo \"Salva su Google Sheets\"\n   - Seleziona il tuo Google Sheet\n   - Seleziona il foglio (es. \"Form\")\n\n✅ Il form sarà disponibile all'URL mostrato nel nodo \"Form di Contatto\"",
        "height": 440,
        "width": 468,
        "color": 4
      },
      "id": "sticky-note-1",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        -208
      ]
    }
  ],
  "connections": {
    "Form di Contatto": {
      "main": [
        [
          {
            "node": "Prepara Dati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Dati": {
      "main": [
        [
          {
            "node": "Salva su Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva su Google Sheets": {
      "main": [
        [
          {
            "node": "Risposta di Successo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9b6a1b5b-9dc3-4f64-b4ae-74c5b180ec6a",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-12T10:45:34.859Z",
      "createdAt": "2025-12-12T10:45:34.859Z",
      "role": "workflow:owner",
      "workflowId": "4V2GtUCPKv816IeK",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
