migrations/n8n/workflows/009_agent2_multi_ai.json
{
  "updatedAt": "2024-11-21T13:40:36.000Z",
  "createdAt": "2024-11-21T13:20:14.559Z",
  "id": "6GGTrkv5J7AC4iNz",
  "name": "agent2 multi ai",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "d79f64da-5353-4973-94d2-73d35377990b",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        640,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afdc6e6c-26b1-4382-95d8-bc5bbaa14ad5",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e599e3c1-325a-4ad9-a227-ff800f1d0350",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d8884bb5-024a-42b4-af5e-4bcd2d25efcc",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1080,
        380
      ],
      "webhookId": "9b254c4d-606e-459d-865b-db40a4070fe9",
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "0fca947d-8b57-4bda-96cd-0eb2f001c71b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "igqCGsHg8vp0q97r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "269182d0-383e-4855-a2bc-a0d02617a027",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "412d8e47-95dd-4a5e-899e-fffaf45d40c4",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        280
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Sei un agent che ricopre il ruolo di una persona molto colta che sta rispondendo a delle domande in un podcast. Ti chiami Silvia e hai il compito di rispondere a queste domande in maniera esaustiva, quando rispondi di sempre il tuo nome.\nDevi sempre parlare come se stessi parlando davvero in un podcast quindi al presente \n\nSei sempre in disaccordo con Agent1 ovvero Antonio quindi formula una risposta che dimostri questo"
        }
      },
      "id": "dd481430-aaa2-4d68-bcdf-adea1c0a54f6",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1300,
        280
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "ciao"
        }
      }
    ]
  },
  "versionId": "62f9bffd-229e-44c2-85ad-02cb03623530",
  "activeVersionId": "62f9bffd-229e-44c2-85ad-02cb03623530",
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2024-11-21T13:20:14.577Z",
      "createdAt": "2024-11-21T13:20:14.577Z",
      "role": "workflow:owner",
      "workflowId": "6GGTrkv5J7AC4iNz",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2024-11-21T13:20:08.237Z",
      "createdAt": "2024-11-21T13:20:08.237Z",
      "id": "ZyWsiMkPJ3LZVqoY",
      "name": "test"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-09T16:49:09.254Z",
    "createdAt": "2025-12-09T16:49:09.254Z",
    "versionId": "62f9bffd-229e-44c2-85ad-02cb03623530",
    "workflowId": "6GGTrkv5J7AC4iNz",
    "nodes": [
      {
        "parameters": {},
        "id": "d79f64da-5353-4973-94d2-73d35377990b",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          640,
          280
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "afdc6e6c-26b1-4382-95d8-bc5bbaa14ad5",
                "name": "query",
                "value": "={{ $json.query }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "e599e3c1-325a-4ad9-a227-ff800f1d0350",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          860,
          280
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "d8884bb5-024a-42b4-af5e-4bcd2d25efcc",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          1080,
          380
        ],
        "webhookId": "9b254c4d-606e-459d-865b-db40a4070fe9",
        "disabled": true
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "id": "0fca947d-8b57-4bda-96cd-0eb2f001c71b",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          1300,
          500
        ],
        "credentials": {
          "openAiApi": {
            "id": "igqCGsHg8vp0q97r",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "269182d0-383e-4855-a2bc-a0d02617a027",
                "name": "response",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "412d8e47-95dd-4a5e-899e-fffaf45d40c4",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1680,
          280
        ]
      },
      {
        "parameters": {
          "agent": "conversationalAgent",
          "promptType": "define",
          "text": "={{ $json.query }}",
          "options": {
            "systemMessage": "Sei un agent che ricopre il ruolo di una persona molto colta che sta rispondendo a delle domande in un podcast. Ti chiami Silvia e hai il compito di rispondere a queste domande in maniera esaustiva, quando rispondi di sempre il tuo nome.\nDevi sempre parlare come se stessi parlando davvero in un podcast quindi al presente \n\nSei sempre in disaccordo con Agent1 ovvero Antonio quindi formula una risposta che dimostri questo"
          }
        },
        "id": "dd481430-aaa2-4d68-bcdf-adea1c0a54f6",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          1300,
          280
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  }
}
