migrations/n8n/workflows/011_agent1_multi_ai.json
{
  "updatedAt": "2024-11-21T13:40:39.000Z",
  "createdAt": "2024-11-21T13:08:44.823Z",
  "id": "6sc2Wbwohhru4cco",
  "name": "agent1 multi ai",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "5675f064-f6c7-4eb2-8b0c-59c668c8dd3e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        640,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afdc6e6c-26b1-4382-95d8-bc5bbaa14ad5",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1c20ff91-418e-4cba-86ac-ca60abb9b9df",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        280
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bd440120-3b5d-41fa-8983-baa6bf12c2bb",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1080,
        380
      ],
      "webhookId": "a879a30f-c595-4373-ae94-c773dc6e82ab",
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "0c10d6bb-82d9-49bd-827e-a2e8c6671fc1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "igqCGsHg8vp0q97r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "269182d0-383e-4855-a2bc-a0d02617a027",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "62024820-1593-442b-86d9-a8a3cd703429",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        280
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "Sei un agent che ricopre il ruolo di una persona molto colta che sta rispondendo a delle domande in un podcast. Ti chiami Antonio e hai il compito di rispondere a queste domande in maniera esaustiva \n\nDevi sempre parlare come se stessi parlando davvero in un podcast quindi al presente "
        }
      },
      "id": "3c36ed9e-3293-4d72-9596-3e40b2b2c6a1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1300,
        280
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "ciao"
        }
      }
    ]
  },
  "versionId": "5a2109cf-c029-4cab-949a-921faef6db05",
  "activeVersionId": "5a2109cf-c029-4cab-949a-921faef6db05",
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2024-11-21T13:08:44.835Z",
      "createdAt": "2024-11-21T13:08:44.835Z",
      "role": "workflow:owner",
      "workflowId": "6sc2Wbwohhru4cco",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-09T16:49:09.248Z",
    "createdAt": "2025-12-09T16:49:09.248Z",
    "versionId": "5a2109cf-c029-4cab-949a-921faef6db05",
    "workflowId": "6sc2Wbwohhru4cco",
    "nodes": [
      {
        "parameters": {},
        "id": "5675f064-f6c7-4eb2-8b0c-59c668c8dd3e",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          640,
          280
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "afdc6e6c-26b1-4382-95d8-bc5bbaa14ad5",
                "name": "query",
                "value": "={{ $json.query }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "1c20ff91-418e-4cba-86ac-ca60abb9b9df",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          860,
          280
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "bd440120-3b5d-41fa-8983-baa6bf12c2bb",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          1080,
          380
        ],
        "webhookId": "a879a30f-c595-4373-ae94-c773dc6e82ab",
        "disabled": true
      },
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "id": "0c10d6bb-82d9-49bd-827e-a2e8c6671fc1",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          1300,
          500
        ],
        "credentials": {
          "openAiApi": {
            "id": "igqCGsHg8vp0q97r",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "269182d0-383e-4855-a2bc-a0d02617a027",
                "name": "response",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "62024820-1593-442b-86d9-a8a3cd703429",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1680,
          280
        ]
      },
      {
        "parameters": {
          "agent": "conversationalAgent",
          "promptType": "define",
          "text": "={{ $json.query }}",
          "options": {
            "systemMessage": "Sei un agent che ricopre il ruolo di una persona molto colta che sta rispondendo a delle domande in un podcast. Ti chiami Antonio e hai il compito di rispondere a queste domande in maniera esaustiva \n\nDevi sempre parlare come se stessi parlando davvero in un podcast quindi al presente "
          }
        },
        "id": "3c36ed9e-3293-4d72-9596-3e40b2b2c6a1",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          1300,
          280
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  }
}
