migrations/n8n/workflows/012_My_workflow_6.json
{
  "updatedAt": "2024-06-27T18:05:36.000Z",
  "createdAt": "2024-06-26T19:44:38.885Z",
  "id": "6snW3XGj3hjwlNO4",
  "name": "My workflow 6",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "e04680d1-7bbd-4f86-a2e1-e1968b42ee21",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        460,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "igqCGsHg8vp0q97r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Ciao sono Risteco AI, come posso aiutarti?",
        "options": {}
      },
      "id": "ce0a15d3-968b-498f-bae8-49887b39fd85",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        400,
        260
      ],
      "webhookId": "7ec1686f-49ab-4b4a-a171-ecaab1fba595"
    },
    {
      "parameters": {
        "name": "query",
        "description": "Quando l'utente deve recuperare dei dati Chiama la funzione per fare delle query a database su supabase e ritorna i risultati",
        "language": "python",
        "pythonCode": "import requests\n\n# Dettagli dell'API Supabase\nsupabase_url = \"https://nmwxdizjqydyzryydbnk.supabase.co/rest/v1/menu\"\nsupabase_key = \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5td3hkaXpqcXlkeXpyeXlkYm5rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcwOTk1MjkzMSwiZXhwIjoyMDI1NTI4OTMxfQ.Tk1abVXvAh7oPCBTmj7stuuwezgPupeWeubBGhm_y2o\"\n\n# Headers\nheaders = {\n    \"apikey\": supabase_key,\n    \"Authorization\": f\"Bearer {supabase_key}\",\n    \"Content-Type\": \"application/json\"\n}\n\n# Effettua la chiamata GET\nresponse = requests.get(supabase_url, headers=headers)\n\n# Stampa la risposta\nprint(response.json())\n"
      },
      "id": "6d3807b0-dce9-483e-a538-4fd744c6918a",
      "name": "Custom Code Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        820,
        480
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Questo assistente deve rispondere solo alle domande relative al database e deve aiutare l'utente a recuperare i suoi menù e deve poter mostrare le categorie e i piatti del menù. inoltre ha la possibilità di creare e modificare i menù, le categorie di ogni menù e i piatti di ogni menù.\n"
        }
      },
      "id": "bb24a56c-234b-460e-8fc3-97bbdd412906",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.5,
      "position": [
        620,
        260
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Code Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a69aa39e-6f13-42bb-9603-0314822c310d",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2024-06-26T19:44:38.891Z",
      "createdAt": "2024-06-26T19:44:38.891Z",
      "role": "workflow:owner",
      "workflowId": "6snW3XGj3hjwlNO4",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
