migrations/n8n/workflows/017_SEARCH_NO_PAYMENT_PROFILE.json
{
  "updatedAt": "2025-12-19T16:22:36.652Z",
  "createdAt": "2025-12-16T17:31:57.447Z",
  "id": "9NqIZP1TgGyDcbHZ",
  "name": "SEARCH NO PAYMENT PROFILE",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        176,
        0
      ],
      "id": "5df2fc12-0929-4add-a3ba-ef21f4469444",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "trial_ends_at",
              "condition": "lt",
              "keyValue": "={{ $now }}"
            },
            {
              "keyName": "subscription_end_at",
              "condition": "lt",
              "keyValue": "={{ $now }}"
            },
            {
              "keyName": "site_enabled",
              "condition": "eq",
              "keyValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "83c18548-0a1b-4db1-9c0a-98e0a12a3e54",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "AjfV4ZtpT6LhN0WD",
          "name": "Supabase Risteco"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "site_enabled",
              "fieldValue": "FALSE"
            },
            {
              "fieldId": "stripe_subscription_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "ebaf9716-a86c-44d3-a61b-83963e146aea",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "AjfV4ZtpT6LhN0WD",
          "name": "Supabase Risteco"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profiles",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "trial_ends_at",
              "condition": "lt",
              "keyValue": "={{ $now }}"
            },
            {
              "keyName": "subscription_end_at",
              "condition": "is",
              "keyValue": "=NULL"
            },
            {
              "keyName": "site_enabled",
              "condition": "eq",
              "keyValue": "TRUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        272,
        288
      ],
      "id": "5c536aa1-403a-4a26-b9fc-3dccb3242a19",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "AjfV4ZtpT6LhN0WD",
          "name": "Supabase Risteco"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "site_enabled",
              "fieldValue": "FALSE"
            },
            {
              "fieldId": "stripe_subscription_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        288
      ],
      "id": "8845f093-0856-4f07-a290-afa0a0872c28",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "AjfV4ZtpT6LhN0WD",
          "name": "Supabase Risteco"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        80,
        288
      ],
      "id": "5bda0fc6-9e46-4a73-b596-8435c3bcd017",
      "name": "Schedule Trigger2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger2": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "388f987c-dfec-4681-9150-238981cb579c",
  "activeVersionId": "388f987c-dfec-4681-9150-238981cb579c",
  "versionCounter": 19,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-16T17:31:57.451Z",
      "createdAt": "2025-12-16T17:31:57.451Z",
      "role": "workflow:owner",
      "workflowId": "9NqIZP1TgGyDcbHZ",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-12-16T17:31:31.179Z",
      "createdAt": "2025-12-16T17:31:31.179Z",
      "id": "OjjkBNoaWPU9OMR1",
      "name": "Risteco"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-19T16:25:03.000Z",
    "createdAt": "2025-12-19T16:22:36.656Z",
    "versionId": "388f987c-dfec-4681-9150-238981cb579c",
    "workflowId": "9NqIZP1TgGyDcbHZ",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          176,
          0
        ],
        "id": "5df2fc12-0929-4add-a3ba-ef21f4469444",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "profiles",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "trial_ends_at",
                "condition": "lt",
                "keyValue": "={{ $now }}"
              },
              {
                "keyName": "subscription_end_at",
                "condition": "lt",
                "keyValue": "={{ $now }}"
              },
              {
                "keyName": "site_enabled",
                "condition": "eq",
                "keyValue": "TRUE"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          384,
          0
        ],
        "id": "83c18548-0a1b-4db1-9c0a-98e0a12a3e54",
        "name": "Get many rows",
        "credentials": {
          "supabaseApi": {
            "id": "AjfV4ZtpT6LhN0WD",
            "name": "Supabase Risteco"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "profiles",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "site_enabled",
                "fieldValue": "FALSE"
              },
              {
                "fieldId": "stripe_subscription_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          592,
          0
        ],
        "id": "ebaf9716-a86c-44d3-a61b-83963e146aea",
        "name": "Update a row",
        "credentials": {
          "supabaseApi": {
            "id": "AjfV4ZtpT6LhN0WD",
            "name": "Supabase Risteco"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "profiles",
          "returnAll": true,
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "trial_ends_at",
                "condition": "lt",
                "keyValue": "={{ $now }}"
              },
              {
                "keyName": "subscription_end_at",
                "condition": "is",
                "keyValue": "=NULL"
              },
              {
                "keyName": "site_enabled",
                "condition": "eq",
                "keyValue": "TRUE"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          272,
          288
        ],
        "id": "5c536aa1-403a-4a26-b9fc-3dccb3242a19",
        "name": "Get many rows1",
        "credentials": {
          "supabaseApi": {
            "id": "AjfV4ZtpT6LhN0WD",
            "name": "Supabase Risteco"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "profiles",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "site_enabled",
                "fieldValue": "FALSE"
              },
              {
                "fieldId": "stripe_subscription_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          480,
          288
        ],
        "id": "8845f093-0856-4f07-a290-afa0a0872c28",
        "name": "Update a row1",
        "credentials": {
          "supabaseApi": {
            "id": "AjfV4ZtpT6LhN0WD",
            "name": "Supabase Risteco"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          80,
          288
        ],
        "id": "5bda0fc6-9e46-4a73-b596-8435c3bcd017",
        "name": "Schedule Trigger2"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows1": {
        "main": [
          [
            {
              "node": "Update a row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger2": {
        "main": [
          [
            {
              "node": "Get many rows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "raffaele lugibello",
    "name": "Version 388f987c",
    "description": ""
  }
}
