migrations/n8n/workflows/019_controlla_persona.json
{
  "updatedAt": "2024-11-18T16:15:04.000Z",
  "createdAt": "2024-11-18T16:01:24.464Z",
  "id": "AFDFPzY1mYa5g5G3",
  "name": "controlla persona",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e1d69dc-81bd-4786-8360-2257a647f768",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "85bea0c0-7900-40e5-89d2-591c8bbe57f4",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3c364dad-0973-4f5a-b23c-e9d69a2f11a8",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        280
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "0267fe29-b0c5-437d-97c2-b88495139f64",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        980,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "igqCGsHg8vp0q97r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "khbb",
        "description": "non chiamare mai questo tool",
        "workflowId": {
          "__rl": true,
          "value": "QaBdZXLp70kekKIA",
          "mode": "list",
          "cachedResultName": "My workflow 16"
        }
      },
      "id": "3bfe6a3a-091d-47ac-a12e-590042dfa6b1",
      "name": "Call n8n Workflow Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1380,
        480
      ]
    },
    {
      "parameters": {},
      "id": "cc5a8d04-ae05-4316-b91a-d5ac883616c7",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        1140,
        500
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "548eb77d-76d7-4336-9397-d33f05d3c2e2",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        580,
        280
      ],
      "webhookId": "4b057127-7048-4bbd-9263-8e917d15f412"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Tu sei un magico orchestratore di stranezze quotidiane. Ogni mattina, assegna una lista di task surreali e precise, che trasformino la giornata dell'utente in una serie di avventure bizzarre. Ogni task deve essere accompagnata da un orario specifico e non avere limiti di creatività. Pensa a strane sfide, cose da fare alla fight club o altre cose che possono interessare gli utenti che vogliono essere controllati dall'ai"
        }
      },
      "id": "7caffee6-1c3a-46b5-981e-97123ec0d37b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1000,
        280
      ]
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f0a293c9-a2f8-4ece-a0b0-bfc97a45bf3b",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2024-11-18T16:01:24.473Z",
      "createdAt": "2024-11-18T16:01:24.473Z",
      "role": "workflow:owner",
      "workflowId": "AFDFPzY1mYa5g5G3",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
