migrations/n8n/workflows/027_tinder.json
{
  "updatedAt": "2025-10-08T21:53:49.000Z",
  "createdAt": "2025-10-08T21:53:00.075Z",
  "id": "Cc1dpCEr2CcMXf0V",
  "name": "tinder",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "020e69bf-edbc-4f62-8685-18066df4f2e3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://api.gotinder.com/like/{{$json[\"data\"][\"results\"][0][\"user\"][\"_id\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locale",
              "value": "en"
            },
            {
              "name": "include",
              "value": "user"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Mobile Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        0
      ],
      "id": "75425cf8-7033-4009-bf75-fe943eca571f",
      "name": "Deslizar Derecha"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1420,
        0
      ],
      "id": "980b7602-8fd9-45b3-afcd-cd72094757fb",
      "name": "Wait",
      "webhookId": "b40db78e-64eb-4c91-b76a-6d58b8e7bdfe"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        560
      ],
      "id": "658039e8-721d-48fc-8ad8-8e46373c5a30",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        520
      ],
      "id": "7b0bc891-055c-4dcf-bd3d-3144f4108917",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://api.gotinder.com/v2/recs/core",
        "authentication": "genericCredentialType",
        "genericAuthType": "=httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locale",
              "value": "en"
            },
            {
              "name": "include",
              "value": "user"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Mobile Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        0
      ],
      "id": "9892a541-e51d-441a-80f8-45a8f7cc22ec",
      "name": "Obtener User ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5243781a-e49e-4687-af4f-fa37ad9f32a5",
              "leftValue": {},
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        340
      ],
      "id": "b703cd8d-d050-4b68-86a0-6fa9b31e73f5",
      "name": "Linda > 5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        340
      ],
      "id": "1bf6484a-684f-4210-a389-ce4c5eff6bbb",
      "name": "Match (ella no ha empezado conversación)",
      "webhookId": "59134ed0-7f9d-49c4-9822-b517a7cdfc7f",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5243781a-e49e-4687-af4f-fa37ad9f32a5",
              "leftValue": "={{$json['likes_remaining'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        0
      ],
      "id": "3fcd9863-9b6b-4b36-9992-4a1cd47ec51c",
      "name": "¿Quedan Likes?"
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        80
      ],
      "id": "9fe212dd-3c8e-4a7a-91cb-09b29799f119",
      "name": "Wait1",
      "webhookId": "bda6aa1b-4ef0-4d94-8962-121155f12ba8"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        340
      ],
      "id": "b1d3720f-e086-4d6b-adc4-9538acd7ce46",
      "name": "AI Analyzer"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1380,
        320
      ],
      "id": "f3443886-a01e-4853-a8f2-6609dcb54dc7",
      "name": "AI 'El Rey del Pulleo'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5243781a-e49e-4687-af4f-fa37ad9f32a5",
              "leftValue": "={{$json['match'] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        740,
        0
      ],
      "id": "9653cc85-028e-4ade-b0f4-fafd2a6caf6d",
      "name": "¿Hay Match?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "=https://api.gotinder.com/v2/fast-match/teasers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locale",
              "value": "en"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Mobile Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        340
      ],
      "id": "7403bc47-76bf-4ec7-aa22-ee537f68fb5c",
      "name": "Obtener User ID1"
    },
    {
      "parameters": {
        "jsCode": "// Access first item from previous node\nconst firstResult = $input.itemMatching(0).json;\n\nconst firstUser = firstResult.data.results[0];\n\nreturn firstUser"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        340
      ],
      "id": "7e25913d-57f7-4992-8190-3474db0e8bae",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1300,
        520
      ],
      "id": "6ba26f07-dd79-4e52-bb78-bc2b9bc12c53",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "url": "=https://api.gotinder.com/user/matches/{{$json[\"data\"][\"results\"][0][\"user\"][\"_id\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locale",
              "value": "en"
            },
            {
              "name": "include",
              "value": "user"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Mobile Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        320
      ],
      "id": "7abbdb24-ea9f-4135-8fce-210ee5e144db",
      "name": "Abrir Chat"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1420,
        500
      ],
      "id": "78db9d57-ea38-4459-ac2e-f8d115d9217a",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "url": "=https://api.gotinder.com/user/matches/{{$json[\"data\"][\"results\"][0][\"user\"][\"_id\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locale",
              "value": "en"
            },
            {
              "name": "include",
              "value": "user"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Mobile Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        380
      ],
      "id": "b60ef7ac-1f9b-463e-94de-cf6f4d216b5f",
      "name": "Abrir Chat1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Obtener User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deslizar Derecha": {
      "main": [
        [
          {
            "node": "¿Hay Match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Obtener User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener User ID": {
      "main": [
        [
          {
            "node": "Deslizar Derecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Quedan Likes?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linda > 5": {
      "main": [
        [
          {
            "node": "Abrir Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener User ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Match?": {
      "main": [
        [
          {
            "node": "Obtener User ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Quedan Likes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener User ID1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abrir Chat1": {
      "main": [
        [
          {
            "node": "Obtener User ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5c530fdf-d26a-43fb-a71b-1cd5b05714fb",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-08T21:53:00.087Z",
      "createdAt": "2025-10-08T21:53:00.087Z",
      "role": "workflow:owner",
      "workflowId": "Cc1dpCEr2CcMXf0V",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
