migrations/n8n/workflows/031_Scraper_Ristoranti_definitivo.json
{
  "updatedAt": "2025-03-16T00:08:50.000Z",
  "createdAt": "2025-03-15T22:43:08.400Z",
  "id": "H8vOLFa4xmyceylU",
  "name": "Scraper Ristoranti definitivo",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "test",
        "formDescription": "test",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome ristotante",
              "requiredField": true
            },
            {
              "fieldLabel": "Posizione ristorante",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "3a8f6ea7-f176-45c3-863e-65d36df4c5d0",
      "name": "On form submission",
      "webhookId": "0ec5d30b-a2ea-4ee2-bd5d-15d4de6f06eb"
    },
    {
      "parameters": {
        "url": "=https://local-business-data.p.rapidapi.com/business-photos?business_id= {{ $json.business_id }}&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "d87c7c86-c536-4a29-ba6f-2ec677a184e0",
      "name": "Restaurant Photo"
    },
    {
      "parameters": {
        "url": "=https://local-business-data.p.rapidapi.com/search?query={{ $json['Nome ristotante'] }}{{ $json['Posizione ristorante'] }}&limit=20&language=it&region=it",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "a1da815b-2943-437a-beed-53101f2f30e8",
      "name": "Restaurant ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f870253-8fa4-4e72-b278-d7e410c507a9",
              "name": "business_id",
              "value": "={{ $json.data[0].business_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "85a6d8ed-e750-4094-8b1c-35194c4038e7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://local-business-data.p.rapidapi.com/business-details?business_id={{ $('Edit Fields').item.json.business_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "414724cb-5fd6-4ca3-b598-15cf260ae1ed",
      "name": "Restaurant Details"
    },
    {
      "parameters": {
        "text": "={{ $json['Recensioni '] }}",
        "attributes": {
          "attributes": [
            {
              "name": "Analisi delle recensioni",
              "description": "Fammi un analisi dettagliata delle recensioni",
              "required": true
            },
            {
              "name": "Punti Forti",
              "description": "Analizza i punti forti del locale che riesci a individuare da queste recensioni",
              "required": true
            },
            {
              "name": "Punti deboli",
              "description": "Analizza i punti deboli del locale che riesci a individuare da queste recensioni",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1540,
        0
      ],
      "id": "aacd9810-7cf6-4404-a656-dbd04903a82a",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1440,
        220
      ],
      "id": "71e36647-9046-44f2-bc1e-aa1b02b74e00",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "DIaCgMCJChhjSXPT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1900,
        0
      ],
      "id": "b81f4488-87c7-4523-b03a-18aaedcb89d9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=https://local-business-data.p.rapidapi.com/business-reviews?business_id= {{ $('Edit Fields').item.json.business_id }}&limit=200",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "id": "0d799714-f0b1-4813-944b-593c8d49191b",
      "name": "Restaurant review"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "209973a8-8e70-4d56-910e-fb385f7e46e6",
              "name": "Recensioni ",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        0
      ],
      "id": "d5a544f8-9ec5-4251-bc5e-8c69baa02daf",
      "name": "Edit Fields2"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Restaurant ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant ID": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant Photo": {
      "main": [
        [
          {
            "node": "Restaurant Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Restaurant Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant Details": {
      "main": [
        [
          {
            "node": "Restaurant review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restaurant review": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Nome ristotante": "Vesuvio 3",
          "Posizione ristorante": "Torre saracena",
          "submittedAt": "2025-03-15T23:51:00.358+01:00",
          "formMode": "test"
        }
      }
    ]
  },
  "versionId": "a5a25529-7a19-46f2-b907-bf62d86ad6e9",
  "activeVersionId": "a5a25529-7a19-46f2-b907-bf62d86ad6e9",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-03-15T22:43:08.406Z",
      "createdAt": "2025-03-15T22:43:08.406Z",
      "role": "workflow:owner",
      "workflowId": "H8vOLFa4xmyceylU",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-09T16:31:40.681Z",
    "createdAt": "2025-12-09T16:31:40.681Z",
    "versionId": "a5a25529-7a19-46f2-b907-bf62d86ad6e9",
    "workflowId": "H8vOLFa4xmyceylU",
    "nodes": [
      {
        "parameters": {
          "formTitle": "test",
          "formDescription": "test",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Nome ristotante",
                "requiredField": true
              },
              {
                "fieldLabel": "Posizione ristorante",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          0,
          0
        ],
        "id": "3a8f6ea7-f176-45c3-863e-65d36df4c5d0",
        "name": "On form submission",
        "webhookId": "0ec5d30b-a2ea-4ee2-bd5d-15d4de6f06eb"
      },
      {
        "parameters": {
          "url": "=https://local-business-data.p.rapidapi.com/business-photos?business_id= {{ $json.business_id }}&limit=50",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-rapidapi-key",
                "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          660,
          0
        ],
        "id": "d87c7c86-c536-4a29-ba6f-2ec677a184e0",
        "name": "Restaurant Photo"
      },
      {
        "parameters": {
          "url": "=https://local-business-data.p.rapidapi.com/search?query={{ $json['Nome ristotante'] }}{{ $json['Posizione ristorante'] }}&limit=20&language=it&region=it",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-rapidapi-key",
                "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ],
        "id": "a1da815b-2943-437a-beed-53101f2f30e8",
        "name": "Restaurant ID"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7f870253-8fa4-4e72-b278-d7e410c507a9",
                "name": "business_id",
                "value": "={{ $json.data[0].business_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          440,
          0
        ],
        "id": "85a6d8ed-e750-4094-8b1c-35194c4038e7",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "url": "=https://local-business-data.p.rapidapi.com/business-details?business_id={{ $('Edit Fields').item.json.business_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-rapidapi-key",
                "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          880,
          0
        ],
        "id": "414724cb-5fd6-4ca3-b598-15cf260ae1ed",
        "name": "Restaurant Details"
      },
      {
        "parameters": {
          "text": "={{ $json['Recensioni '] }}",
          "attributes": {
            "attributes": [
              {
                "name": "Analisi delle recensioni",
                "description": "Fammi un analisi dettagliata delle recensioni",
                "required": true
              },
              {
                "name": "Punti Forti",
                "description": "Analizza i punti forti del locale che riesci a individuare da queste recensioni",
                "required": true
              },
              {
                "name": "Punti deboli",
                "description": "Analizza i punti deboli del locale che riesci a individuare da queste recensioni",
                "required": true
              }
            ]
          },
          "options": {
            "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "typeVersion": 1,
        "position": [
          1540,
          0
        ],
        "id": "aacd9810-7cf6-4404-a656-dbd04903a82a",
        "name": "Information Extractor"
      },
      {
        "parameters": {
          "model": "openai/o3-mini",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1440,
          220
        ],
        "id": "71e36647-9046-44f2-bc1e-aa1b02b74e00",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "DIaCgMCJChhjSXPT",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1900,
          0
        ],
        "id": "b81f4488-87c7-4523-b03a-18aaedcb89d9",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "url": "=https://local-business-data.p.rapidapi.com/business-reviews?business_id= {{ $('Edit Fields').item.json.business_id }}&limit=200",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-rapidapi-key",
                "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          0
        ],
        "id": "0d799714-f0b1-4813-944b-593c8d49191b",
        "name": "Restaurant review"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "209973a8-8e70-4d56-910e-fb385f7e46e6",
                "name": "Recensioni ",
                "value": "={{ $json.data }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1320,
          0
        ],
        "id": "d5a544f8-9ec5-4251-bc5e-8c69baa02daf",
        "name": "Edit Fields2"
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Restaurant ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restaurant ID": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restaurant Photo": {
        "main": [
          [
            {
              "node": "Restaurant Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Restaurant Photo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restaurant Details": {
        "main": [
          [
            {
              "node": "Restaurant review",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Information Extractor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Information Extractor": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Restaurant review": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Information Extractor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  }
}
