migrations/n8n/workflows/038_FFY_DOWNLOAD_AND_SAVE_VIDEO.json
{
  "updatedAt": "2025-10-23T16:44:58.000Z",
  "createdAt": "2025-10-23T15:50:21.934Z",
  "id": "KEzWlnsxgRIy7PAj",
  "name": "FFY DOWNLOAD AND SAVE VIDEO",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Video download",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Video id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "cd1a1fd5-da7d-47f8-a9cf-5eddb02f7200",
      "name": "On form submission",
      "webhookId": "39b56b7a-470e-495d-bcbe-cbe267384f75"
    },
    {
      "parameters": {
        "url": "=https://pornhub-video-download-api-search-stars-tags-categories.p.rapidapi.com/download_video/{{ $json['Video id'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "pornhub-video-download-api-search-stars-tags-categories.p.rapidapi.co"
            },
            {
              "name": "x-rapidapi-key",
              "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "0a88762b-0a5c-40a2-90f6-de877d3c4c56",
      "name": "Download Video"
    },
    {
      "parameters": {
        "url": "=https://pornhub-video-download-api-search-stars-tags-categories.p.rapidapi.com/get_video_by_id/{{ $('On form submission').item.json['Video id'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "pornhub-video-download-api-search-stars-tags-categories.p.rapidapi.co"
            },
            {
              "name": "x-rapidapi-key",
              "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "d9effb95-7911-4e2b-8585-d60356435621",
      "name": "Video Info"
    },
    {
      "parameters": {
        "tableId": "video",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "img",
              "fieldValue": "={{ $json.thumb }}"
            },
            {
              "fieldId": "link",
              "fieldValue": "={{ $('Download Video').item.json.url }}"
            },
            {
              "fieldId": "tag",
              "fieldValue": "={{ $json.tags }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "84b5bd30-682e-4635-89fa-b48156ae1230",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "UYWQNHlS1XbbECZM",
          "name": "Task - ffy | ifluisunder"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Video Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Info": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Video id": "67722348d1efb",
          "submittedAt": "2025-10-23T17:50:39.218+02:00",
          "formMode": "test"
        }
      }
    ],
    "Download Video": [
      {
        "json": {
          "old_id": "hls-1149",
          "id": "480",
          "resolution": "854x480",
          "fps": "30",
          "filesize": 58.51,
          "tbr": "1149k",
          "vcodec": "avc1.64001f",
          "acodec": "mp4a.40.2",
          "url": "https://s1.12388101.xyz/fls/dl_1dbab54d5f0c913bda3c427c3f094e8f978839047.mp4",
          "comment": "The file will soon be ready from 20 to 300 seconds. Until it is ready, attempting to access it will return a 404 error. The file will be available for download only 10 minutes"
        }
      }
    ],
    "Video Info": [
      {
        "json": {
          "duration": "7:07",
          "views": 747709,
          "video_id": "67722348d1efb",
          "rating": 84.9124,
          "ratings": 2797,
          "title": "my friend and i brought each other to orgasm",
          "url": "https://www.pornhub.com/view_video.php?viewkey=67722348d1efb",
          "default_thumb": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)12.jpg",
          "thumb": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=qMXWL3Zbeaf8Ggaaaa)(mh=4STeqV6a3jQelG0Q)0.jpg",
          "publish_date": "2025-01-19 14:24:28",
          "thumbs": [
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)1.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)2.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)3.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)4.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)5.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)6.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)7.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)8.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)9.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)10.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)11.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)12.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)13.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)14.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)15.jpg"
            },
            {
              "size": "320x240",
              "width": "320",
              "height": "240",
              "src": "https://ei.phncdn.com/videos/202412/30/462506591/original/(m=eaf8Ggaaaa)(mh=6qKtx_OivvGOllky)16.jpg"
            }
          ],
          "tags": [
            {
              "tag_name": "18 year cute girl"
            },
            {
              "tag_name": "exclusive"
            },
            {
              "tag_name": "zxlecya"
            },
            {
              "tag_name": "homemade se"
            },
            {
              "tag_name": "missionary"
            },
            {
              "tag_name": "Bffs Sleepover"
            },
            {
              "tag_name": "perfect pink pussy"
            },
            {
              "tag_name": "cum on face"
            },
            {
              "tag_name": "hot sex"
            },
            {
              "tag_name": "hd porn"
            },
            {
              "tag_name": "close up pussy play"
            },
            {
              "tag_name": "amateur couple"
            },
            {
              "tag_name": "slender"
            },
            {
              "tag_name": "petite"
            },
            {
              "tag_name": "natural tits"
            },
            {
              "tag_name": "panties to the side"
            }
          ],
          "pornstars": [],
          "categories": [
            {
              "category": "amateur"
            },
            {
              "category": "babe"
            },
            {
              "category": "big-dick"
            },
            {
              "category": "cumshot"
            },
            {
              "category": "18-25"
            },
            {
              "category": "pov"
            },
            {
              "category": "small-tits"
            },
            {
              "category": "verified-amateurs"
            },
            {
              "category": "tattooed-women"
            }
          ],
          "segment": "straight",
          "formats": [
            {
              "old_id": "hls-497",
              "id": "240",
              "resolution": "426x240",
              "fps": "30",
              "filesize": 25.33,
              "tbr": "498k",
              "vcodec": "avc1.640015",
              "acodec": "mp4a.40.2"
            },
            {
              "old_id": "hls-1149",
              "id": "480",
              "resolution": "854x480",
              "fps": "30",
              "filesize": 58.51,
              "tbr": "1149k",
              "vcodec": "avc1.64001f",
              "acodec": "mp4a.40.2"
            },
            {
              "old_id": "hls-2109",
              "id": "720",
              "resolution": "1280x720",
              "fps": "30",
              "filesize": 107.38,
              "tbr": "2110k",
              "vcodec": "avc1.64001f",
              "acodec": "mp4a.40.2"
            },
            {
              "old_id": "hls-3934",
              "id": "1080",
              "resolution": "1920x1080",
              "fps": "30",
              "filesize": 200.26,
              "tbr": "3934k",
              "vcodec": "avc1.640032",
              "acodec": "mp4a.40.2"
            }
          ]
        }
      }
    ]
  },
  "versionId": "cfa5c4cf-06e4-46ad-b143-29caba4540de",
  "activeVersionId": "cfa5c4cf-06e4-46ad-b143-29caba4540de",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-23T15:50:21.942Z",
      "createdAt": "2025-10-23T15:50:21.942Z",
      "role": "workflow:owner",
      "workflowId": "KEzWlnsxgRIy7PAj",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-09T16:31:40.681Z",
    "createdAt": "2025-12-09T16:31:40.681Z",
    "versionId": "cfa5c4cf-06e4-46ad-b143-29caba4540de",
    "workflowId": "KEzWlnsxgRIy7PAj",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Video download",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Video id"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          0,
          0
        ],
        "id": "cd1a1fd5-da7d-47f8-a9cf-5eddb02f7200",
        "name": "On form submission",
        "webhookId": "39b56b7a-470e-495d-bcbe-cbe267384f75"
      },
      {
        "parameters": {
          "url": "=https://pornhub-video-download-api-search-stars-tags-categories.p.rapidapi.com/download_video/{{ $json['Video id'] }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-rapidapi-host",
                "value": "pornhub-video-download-api-search-stars-tags-categories.p.rapidapi.co"
              },
              {
                "name": "x-rapidapi-key",
                "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ],
        "id": "0a88762b-0a5c-40a2-90f6-de877d3c4c56",
        "name": "Download Video"
      },
      {
        "parameters": {
          "url": "=https://pornhub-video-download-api-search-stars-tags-categories.p.rapidapi.com/get_video_by_id/{{ $('On form submission').item.json['Video id'] }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-rapidapi-host",
                "value": "pornhub-video-download-api-search-stars-tags-categories.p.rapidapi.co"
              },
              {
                "name": "x-rapidapi-key",
                "value": "94d10870f2mshb63f97cf90443f0p16781ajsncd012b29acb8"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          440,
          0
        ],
        "id": "d9effb95-7911-4e2b-8585-d60356435621",
        "name": "Video Info"
      },
      {
        "parameters": {
          "tableId": "video",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "title",
                "fieldValue": "={{ $json.title }}"
              },
              {
                "fieldId": "img",
                "fieldValue": "={{ $json.thumb }}"
              },
              {
                "fieldId": "link",
                "fieldValue": "={{ $('Download Video').item.json.url }}"
              },
              {
                "fieldId": "tag",
                "fieldValue": "={{ $json.tags }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          660,
          0
        ],
        "id": "84b5bd30-682e-4635-89fa-b48156ae1230",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "UYWQNHlS1XbbECZM",
            "name": "Task - ffy | ifluisunder"
          }
        }
      }
    ],
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Download Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Video": {
        "main": [
          [
            {
              "node": "Video Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Video Info": {
        "main": [
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  }
}
