migrations/n8n/workflows/045_Trova_categorie_men__1.json
{
  "updatedAt": "2024-06-26T18:08:12.000Z",
  "createdAt": "2024-06-26T16:51:03.756Z",
  "id": "NTWgr3oEg2zeCDtM",
  "name": "Trova categorie menù 1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "4ee47db9-295c-49e8-9a48-058d770b58f5",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        640,
        300
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "categories",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "menu_id",
              "condition": "eq",
              "keyValue": "={{ $json.query }}"
            }
          ]
        }
      },
      "id": "4c2b282a-f6da-4a5d-931d-3f54e41f19ed",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "DyF80fsCycRfvlb3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "713d26ce-3ec4-4072-8683-3cf330e93029",
              "name": "response",
              "value": "=nome categorie: {{ $json.name }} & id categorie {{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9b788b9e-a164-4677-8ff2-21f30462a65d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            },
            {
              "fieldToAggregate": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "01c3a821-ddb7-4ead-8f15-cddfe967b0a4",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1080,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": 81
        }
      }
    ]
  },
  "versionId": "01713fd0-b746-426b-8d24-93900327e341",
  "activeVersionId": "01713fd0-b746-426b-8d24-93900327e341",
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2024-06-26T16:51:03.760Z",
      "createdAt": "2024-06-26T16:51:03.760Z",
      "role": "workflow:owner",
      "workflowId": "NTWgr3oEg2zeCDtM",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-09T16:31:40.681Z",
    "createdAt": "2025-12-09T16:31:40.681Z",
    "versionId": "01713fd0-b746-426b-8d24-93900327e341",
    "workflowId": "NTWgr3oEg2zeCDtM",
    "nodes": [
      {
        "parameters": {},
        "id": "4ee47db9-295c-49e8-9a48-058d770b58f5",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          640,
          300
        ],
        "notesInFlow": true
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "categories",
          "returnAll": true,
          "filters": {
            "conditions": [
              {
                "keyName": "menu_id",
                "condition": "eq",
                "keyValue": "={{ $json.query }}"
              }
            ]
          }
        },
        "id": "4c2b282a-f6da-4a5d-931d-3f54e41f19ed",
        "name": "Supabase",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          860,
          300
        ],
        "credentials": {
          "supabaseApi": {
            "id": "DyF80fsCycRfvlb3",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "713d26ce-3ec4-4072-8683-3cf330e93029",
                "name": "response",
                "value": "=nome categorie: {{ $json.name }} & id categorie {{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "9b788b9e-a164-4677-8ff2-21f30462a65d",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          1300,
          300
        ]
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              },
              {
                "fieldToAggregate": "id"
              }
            ]
          },
          "options": {}
        },
        "id": "01c3a821-ddb7-4ead-8f15-cddfe967b0a4",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1080,
          300
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  }
}
