migrations/n8n/workflows/047_My_workflow_16.json
{
  "updatedAt": "2024-11-21T13:05:41.000Z",
  "createdAt": "2024-11-11T11:15:23.978Z",
  "id": "QaBdZXLp70kekKIA",
  "name": "My workflow 16",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {}
      },
      "id": "388875b6-3c42-4c63-a612-c1c65c9f3889",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        760,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "igqCGsHg8vp0q97r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "id": "a13d9b46-532b-4c76-b2c2-6bca94ab6619",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        880,
        500
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {}
      },
      "id": "55bf8f30-14d2-4ec1-82ce-5081b93e1f7d",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1340,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "igqCGsHg8vp0q97r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {}
      },
      "id": "86192024-c59f-4429-b48b-2d834a9412d3",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1740,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "igqCGsHg8vp0q97r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {}
      },
      "id": "1a28c802-67e4-4b9d-9fca-2d37a44f7326",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2120,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "igqCGsHg8vp0q97r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fa9354aa-746a-4cdc-8a6c-cdf45bfe9177",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        580,
        280
      ],
      "webhookId": "482c79a0-fa83-48fc-b431-53ebcc004033"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "options": {
          "systemMessage": "Sei un agente che analizza cosa vuole creare l'utente e scrive un prompt specifico con tutte le informazioni necessarie  per scrivere il codice html, css e javascript tutto in una pagina.\nSe ti mancano informazioni non chiederle mai all'utente, ma inventale e restituisci un prompt dettagliato per creare al meglio il progetto dell'utente.\n"
        }
      },
      "id": "f317d191-a77f-4d66-bccb-832a2e812ac0",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        760,
        280
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "Questo agente riceve un prompt dettagliato per creare una pagina html, css e javascript tutto in una pagina che deve contenere al sui interno obbligatoriamente anche il css e javascript. il compito di questo agente è di prendere le informazioni, scrivere  SOLO il codice funzionante.\n\nIl codice deve essere molto preciso e dettagliato"
        }
      },
      "id": "ea20f495-1a6f-46e8-a6a7-21a3165474ad",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1360,
        280
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "Questo agente è un esperto di css e ha il compito di riprendere il codice renderlo più bello e dinamico, aggiungendo anche delle animazioni quando è possibile.\n\nDovrà restituire tutto il codice in un file chiamato. [nomeProgetto].html"
        }
      },
      "id": "93e0aa7b-8a94-4325-aa99-8771bdc1168e",
      "name": "AI Agent3",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2140,
        280
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "questo agente prenderà un codice html, css e javascript e lo supervisionerà, nei minimi dettagli.\n\nSe ci dovessero essere degli errori ha il compito di correggere e modificare il codice.\n\nil suo compito è quello di arricchire il codice il più possibile aggiungendo dettagli e interazioni.\n\nDeve restituire all'utente solo il codice html corretto"
        }
      },
      "id": "c5eee61f-7b25-40d9-920c-4ee200f5c257",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1740,
        280
      ]
    },
    {
      "parameters": {
        "name": "create_prompt"
      },
      "id": "e7f4dc1b-2e17-41b4-9c9f-09ff238021ce",
      "name": "Call n8n Workflow Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1060,
        500
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0fa86bbc-24d9-4416-b86a-dcd6ee0ce1ea",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2024-11-11T11:15:23.988Z",
      "createdAt": "2024-11-11T11:15:23.988Z",
      "role": "workflow:owner",
      "workflowId": "QaBdZXLp70kekKIA",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
