migrations/n8n/workflows/053_autoupdate_project_articles_salento.json
{
  "updatedAt": "2025-11-01T15:00:17.000Z",
  "createdAt": "2025-10-31T14:54:45.519Z",
  "id": "TRazfPeeUy7DZtfI",
  "name": "autoupdate project articles salento",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        16
      ],
      "id": "78ae059d-9902-4dc6-945a-233e765b04d3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ricercami una novità dell'ai di oggi {{ $now }}",
        "options": {
          "systemMessage": "Devi sempre utilizzare il tool SerpAPI per cercare le informazioni\nil tuo compito è ricercare su internet notizie utili sullo sviluppo software (react, ai, annunci nuovi, novità, ecc..) e rispondere solo con una nuova notizia che trovi, quella che ritieni piu interessante "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        16
      ],
      "id": "31360bc0-4f67-4e0a-b377-8fe76e31c8e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        240
      ],
      "id": "00b8040f-7983-42f1-9734-201b08f00af6",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "DIaCgMCJChhjSXPT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=Tool for **Web searches via PerplexityAPI**. Can be used multiple times; prioritize **official sources**.",
        "method": "POST",
        "url": "https://api.perplexity.ai/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `the query you want to make`, 'string') }}"
            },
            {
              "name": "max_results",
              "value": "5"
            },
            {
              "name": "max_tokens_per_page",
              "value": "512"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        368,
        240
      ],
      "id": "ceb5cfda-879f-46bf-8b47-8406190dc317",
      "name": "WebsearchAPI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "il tuo compito è quello di approfondire questa notizia e devi ritornare sempre un title e una description molto dettagliata per un blog "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        640,
        16
      ],
      "id": "76a8a82d-5f9c-45e3-93e8-3626d547c046",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        592,
        240
      ],
      "id": "821870bd-9ca4-44a7-9398-8117692f50fc",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "DIaCgMCJChhjSXPT",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=Tool for **Web searches via PerplexityAPI**. Can be used multiple times; prioritize **official sources**.",
        "method": "POST",
        "url": "https://api.perplexity.ai/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `the query you want to make`, 'string') }}"
            },
            {
              "name": "max_results",
              "value": "5"
            },
            {
              "name": "max_tokens_per_page",
              "value": "512"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        704,
        240
      ],
      "id": "05cf3b7e-6ed1-4f56-b2af-ff3a289bd985",
      "name": "WebsearchAPI1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"titolo dell articolo\",\n\t\"description\": \"descrizione dell'articolo\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        816,
        240
      ],
      "id": "3168c525-4e15-4a9f-acb6-069eeb391199",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "tableId": "articles",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.output.title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.output.description }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1024,
        16
      ],
      "id": "71d4f09b-0956-4f51-b85d-1d4319922c30",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "UYWQNHlS1XbbECZM",
          "name": "Task - ffy - articles | ifluisunder"
        }
      }
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebsearchAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WebsearchAPI1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5656128d-a06c-4d14-9f3b-29fabe1d3275",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-10-31T14:54:45.523Z",
      "createdAt": "2025-10-31T14:54:45.523Z",
      "role": "workflow:owner",
      "workflowId": "TRazfPeeUy7DZtfI",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
