migrations/n8n/workflows/054_weweb_test_1.json
{
  "updatedAt": "2024-11-06T11:54:37.000Z",
  "createdAt": "2024-11-06T11:40:31.764Z",
  "id": "Tj7MdCdszQo1ZJzz",
  "name": "weweb test 1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=il tuo id è  {{ $json.id }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "testo",
                "value": "=il tuo id è  {{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "c080d10a-6162-42bf-b56f-42f6b65504fa",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1020,
        260
      ]
    },
    {
      "parameters": {
        "path": "wewebtest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0d14b652-68a3-4e5d-a317-3184d71a32e6",
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "position": [
        540,
        260
      ],
      "webhookId": "67d77918-2d5b-48c1-ae73-2004b32125f0",
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6fd34b9-b446-45af-9188-83961cc5837a",
              "name": "id",
              "value": "={{ $json.query.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d1f59144-8093-42df-bf46-54ab29019462",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        260
      ]
    }
  ],
  "connections": {
    "Webhook2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d3342f62-75f6-4eab-be41-54a04756ebc2",
  "activeVersionId": "d3342f62-75f6-4eab-be41-54a04756ebc2",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2024-11-06T11:40:31.789Z",
      "createdAt": "2024-11-06T11:40:31.789Z",
      "role": "workflow:owner",
      "workflowId": "Tj7MdCdszQo1ZJzz",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-09T16:31:40.681Z",
    "createdAt": "2025-12-09T16:31:40.681Z",
    "versionId": "d3342f62-75f6-4eab-be41-54a04756ebc2",
    "workflowId": "Tj7MdCdszQo1ZJzz",
    "nodes": [
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "=il tuo id è  {{ $json.id }}",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "testo",
                  "value": "=il tuo id è  {{ $json.id }}"
                }
              ]
            }
          }
        },
        "id": "c080d10a-6162-42bf-b56f-42f6b65504fa",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1020,
          260
        ]
      },
      {
        "parameters": {
          "path": "wewebtest",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "0d14b652-68a3-4e5d-a317-3184d71a32e6",
        "name": "Webhook2",
        "type": "n8n-nodes-base.webhook",
        "position": [
          540,
          260
        ],
        "webhookId": "67d77918-2d5b-48c1-ae73-2004b32125f0",
        "typeVersion": 2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f6fd34b9-b446-45af-9188-83961cc5837a",
                "name": "id",
                "value": "={{ $json.query.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d1f59144-8093-42df-bf46-54ab29019462",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          760,
          260
        ]
      }
    ],
    "connections": {
      "Webhook2": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  }
}
