migrations/n8n/workflows/084_Form_to_Google_Sheets_con_Lista.json
{
  "updatedAt": "2025-12-12T10:34:51.142Z",
  "createdAt": "2025-12-12T10:31:11.156Z",
  "id": "fx3I1HhBgZ84qQ4A",
  "name": "Form to Google Sheets con Lista",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Registrazione Contatti",
        "formDescription": "Inserisci i tuoi dati per essere aggiunto al database",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome",
              "requiredField": true
            },
            {
              "fieldLabel": "Cognome",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Numero di Telefono",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        256,
        304
      ],
      "webhookId": "9de44734-1094-4462-9ffe-3929f07b7f88"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contatti"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome": "={{ $json.Nome }}",
            "Cognome": "={{ $json.Cognome }}",
            "Email": "={{ $json.Email }}",
            "Telefono": "={{ $json['Numero di Telefono'] }}",
            "Data Registrazione": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "save-to-sheets",
      "name": "Salva su Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lA2cHbWK9P6nSsph",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Contatti"
        },
        "options": {}
      },
      "id": "read-all-contacts",
      "name": "Leggi Tutti i Contatti",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lA2cHbWK9P6nSsph",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatta la lista di contatti in modo leggibile\nconst contacts = $input.all();\n\nconst formattedList = contacts.map((contact, index) => {\n  return {\n    numero: index + 1,\n    nomeCompleto: `${contact.json.Nome} ${contact.json.Cognome}`,\n    email: contact.json.Email,\n    telefono: contact.json.Telefono,\n    dataRegistrazione: contact.json['Data Registrazione'] || 'N/A'\n  };\n});\n\n// Crea un messaggio di riepilogo\nconst summary = {\n  totaleContatti: formattedList.length,\n  nuovoContatto: {\n    nome: $('Form Trigger').first().json.Nome,\n    cognome: $('Form Trigger').first().json.Cognome,\n    email: $('Form Trigger').first().json.Email\n  },\n  listaCompleta: formattedList\n};\n\nreturn [{ json: summary }];"
      },
      "id": "format-list",
      "name": "Formatta Lista",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Ritorna Lista",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1056,
        304
      ]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Salva su Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva su Google Sheets": {
      "main": [
        [
          {
            "node": "Leggi Tutti i Contatti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leggi Tutti i Contatti": {
      "main": [
        [
          {
            "node": "Formatta Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatta Lista": {
      "main": [
        [
          {
            "node": "Ritorna Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2f94fa0b-3c67-412f-8966-ec8a494cd3d1",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-12T10:31:11.160Z",
      "createdAt": "2025-12-12T10:31:11.160Z",
      "role": "workflow:owner",
      "workflowId": "fx3I1HhBgZ84qQ4A",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
