migrations/n8n/workflows/087__testing_Money_finish__copy.json
{
  "updatedAt": "2025-03-24T12:06:10.000Z",
  "createdAt": "2024-11-03T22:04:04.292Z",
  "id": "iAtC3iY17AELcfOd",
  "name": "❓testing Money finish❓ copy",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o-2024-08-06",
        "options": {}
      },
      "id": "0df16d42-8d61-47b9-9d03-a05e1a192985",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        720,
        440
      ],
      "credentials": {
        "openAiApi": {
          "id": "igqCGsHg8vp0q97r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "money",
        "returnAll": true
      },
      "id": "d91c03ae-60a0-4c92-9ea8-ab21866cfcc3",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1100,
        440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "DAj2UqfQGvKuvygI",
          "name": "Supabase ai money"
        }
      }
    },
    {
      "parameters": {
        "tableId": "money",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $fromAI(\"name\") }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $fromAI(\"category\") }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $fromAI(\"type\") }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $fromAI(\"price\") }}"
            }
          ]
        }
      },
      "id": "2a5473ee-acda-4108-8d1a-b97a68114231",
      "name": "create spesa",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1220,
        440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "DAj2UqfQGvKuvygI",
          "name": "Supabase ai money"
        }
      }
    },
    {
      "parameters": {},
      "id": "1a7e4a2d-a159-4dbe-9512-318fd2075c75",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        940,
        440
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Sei un ai esperta in economia e money management che permette all'utente di analizzare le sue spese quotidiane, il tuo compito è quello di aiutare l'utente a analizzare le sue spese e dare seri consigli finanziari quando l’utente te lo chiede. In più parla all’utente in maniera informale, quasi scherzoso con l’utente\n\nTutte le spese dell'utente sono su supabase con cui potrai interagire liberamente in lettura e scrittura.\n\nQuando l'utente ti chiede di inserire una nuova spesa o una nuova entrata devi sempre chiedergli:\n\n1. è un entrata o un uscita? Se è un entrata devi inserire \"type\": \"Entrata\". se è un uscita devi inserire \"type\": \"Uscita\".\n2. \"name\" il nome dell'entrata o dell'uscita.\n3. \"category\" la categoria dell'entrata o dell'uscita\n4.\"price\" il prezzo dell'entrata o dell'uscita che deve essere sempre con il punto ad esempio 3.15, ricordati che questo dato è un formato double e non striga quando lo inserisci a database, quindi non deve mai avere le virgolette\n\nquando hai queste informazioni inserisci questo record su supabase nella tabella money, ricordati che price è un numero e deve essere inserito senza virgolette."
        }
      },
      "id": "c4732cd7-e242-4fd2-9789-1dc751b24156",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        900,
        140
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Ciao, sono il tuo assistente per il money management",
        "options": {
          "inputPlaceholder": "Scrivi qualcosa :)",
          "subtitle": "",
          "title": "Benvenuto "
        }
      },
      "id": "83d19869-c723-4d33-b082-52280a52987a",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        700,
        140
      ],
      "webhookId": "1afd5cee-b1c5-4fa4-a8d6-b1e036772e76"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create spesa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0e339fcf-3cfa-4a5e-90a8-ab6935e2912e",
  "activeVersionId": "0e339fcf-3cfa-4a5e-90a8-ab6935e2912e",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2024-11-03T22:04:04.308Z",
      "createdAt": "2024-11-03T22:04:04.308Z",
      "role": "workflow:owner",
      "workflowId": "iAtC3iY17AELcfOd",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-09T16:31:40.681Z",
    "createdAt": "2025-12-09T16:31:40.681Z",
    "versionId": "0e339fcf-3cfa-4a5e-90a8-ab6935e2912e",
    "workflowId": "iAtC3iY17AELcfOd",
    "nodes": [
      {
        "parameters": {
          "model": "gpt-4o-2024-08-06",
          "options": {}
        },
        "id": "0df16d42-8d61-47b9-9d03-a05e1a192985",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          720,
          440
        ],
        "credentials": {
          "openAiApi": {
            "id": "igqCGsHg8vp0q97r",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "money",
          "returnAll": true
        },
        "id": "d91c03ae-60a0-4c92-9ea8-ab21866cfcc3",
        "name": "Supabase",
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          1100,
          440
        ],
        "credentials": {
          "supabaseApi": {
            "id": "DAj2UqfQGvKuvygI",
            "name": "Supabase ai money"
          }
        }
      },
      {
        "parameters": {
          "tableId": "money",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "name",
                "fieldValue": "={{ $fromAI(\"name\") }}"
              },
              {
                "fieldId": "category",
                "fieldValue": "={{ $fromAI(\"category\") }}"
              },
              {
                "fieldId": "type",
                "fieldValue": "={{ $fromAI(\"type\") }}"
              },
              {
                "fieldId": "price",
                "fieldValue": "={{ $fromAI(\"price\") }}"
              }
            ]
          }
        },
        "id": "2a5473ee-acda-4108-8d1a-b97a68114231",
        "name": "create spesa",
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          1220,
          440
        ],
        "credentials": {
          "supabaseApi": {
            "id": "DAj2UqfQGvKuvygI",
            "name": "Supabase ai money"
          }
        }
      },
      {
        "parameters": {},
        "id": "1a7e4a2d-a159-4dbe-9512-318fd2075c75",
        "name": "Window Buffer Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.2,
        "position": [
          940,
          440
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "Sei un ai esperta in economia e money management che permette all'utente di analizzare le sue spese quotidiane, il tuo compito è quello di aiutare l'utente a analizzare le sue spese e dare seri consigli finanziari quando l’utente te lo chiede. In più parla all’utente in maniera informale, quasi scherzoso con l’utente\n\nTutte le spese dell'utente sono su supabase con cui potrai interagire liberamente in lettura e scrittura.\n\nQuando l'utente ti chiede di inserire una nuova spesa o una nuova entrata devi sempre chiedergli:\n\n1. è un entrata o un uscita? Se è un entrata devi inserire \"type\": \"Entrata\". se è un uscita devi inserire \"type\": \"Uscita\".\n2. \"name\" il nome dell'entrata o dell'uscita.\n3. \"category\" la categoria dell'entrata o dell'uscita\n4.\"price\" il prezzo dell'entrata o dell'uscita che deve essere sempre con il punto ad esempio 3.15, ricordati che questo dato è un formato double e non striga quando lo inserisci a database, quindi non deve mai avere le virgolette\n\nquando hai queste informazioni inserisci questo record su supabase nella tabella money, ricordati che price è un numero e deve essere inserito senza virgolette."
          }
        },
        "id": "c4732cd7-e242-4fd2-9789-1dc751b24156",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          900,
          140
        ]
      },
      {
        "parameters": {
          "public": true,
          "initialMessages": "Ciao, sono il tuo assistente per il money management",
          "options": {
            "inputPlaceholder": "Scrivi qualcosa :)",
            "subtitle": "",
            "title": "Benvenuto "
          }
        },
        "id": "83d19869-c723-4d33-b082-52280a52987a",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          700,
          140
        ],
        "webhookId": "1afd5cee-b1c5-4fa4-a8d6-b1e036772e76"
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Supabase": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "create spesa": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  }
}
