migrations/n8n/workflows/088_HUBSPOT_-_insert_a_ticket.json
{
  "updatedAt": "2025-11-21T09:57:15.000Z",
  "createdAt": "2025-11-13T10:02:27.926Z",
  "id": "iC6l2LW0PX7OwVPA",
  "name": "HUBSPOT - insert a ticket",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insert_ticket",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "471eeca4-2da7-4593-9f1f-76bb77a021b8",
      "name": "Webhook",
      "webhookId": "883e3996-c725-48bb-ab02-4f0c73f5dc20",
      "credentials": {
        "httpHeaderAuth": {
          "id": "eLPHcGCtzV6skRoX",
          "name": "ciaociao"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://web.rinnai.it/mainapi/api/serial/{{ $json.query.serial_product }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PaXryNXtQuzabqcvvCUcIeJuR6X1VFlfoZIO3uO1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "21c6e78a-4e0b-49c3-a7e6-8c060cffa4a2",
      "name": "get data caldaia"
    },
    {
      "parameters": {
        "content": "in questo momento non so cosa devo mettere a modello garanzia \n\n{\n  \"properties\": {\n    \"subject\": \"Test n8n ncode\",\n    \"hs_pipeline\": \"820355979\",\n    \"hs_pipeline_stage\": \"1212079719\",\n    \"numero_di_serie\": \"{{ $json.info.seriale }}\",\n    \"cap\": \"70000\",\n    \"causale_installazione\": \"Nuova installazione\",\n    \"codice_fiscale\": \"RSSMRA...\",\n    \"comune\": \"Melendugno\",\n    \"content\": \"Descrizione ticket\",\n    \"data_di_acquisto\": \"2023-06-09\",\n    \"telefono\": \"328XXXXXXX\",\n    \"provincia\": \"Lecce\",\n    \"modello_garanzia\":\"testing\",\n    \"indirizzo\": \"via tancredi\",\n    \"numero_civico\": \"30\"\n\n    \n  },\n  \"associations\": [\n    {\n      \"to\": { \"id\": \"174451276194\" },\n      \"types\": [{ \n        \"associationCategory\": \"HUBSPOT_DEFINED\",\n        \"associationTypeId\": 16 \n      }]\n    }\n  ]\n}",
        "height": 656,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        -224
      ],
      "typeVersion": 1,
      "id": "65f9122d-4b7f-4cd2-8e2c-b21a29ba6a59",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/tickets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"subject\": \"{{ $('get data caldaia').item.json.info.seriale }}\",\n    \"hs_pipeline\": \"820355979\",\n    \"hs_pipeline_stage\": \"1212079719\",\n    \"numero_di_serie\": \"{{ $('get data caldaia').item.json.info.seriale }}\",\n    \"cap\": \"{{ $json.cap }}\",\n    \"causale_installazione\": \"Nuova installazione\",\n    \"codice_fiscale\": \"{{ $json.codice_fiscale }}\",\n    \"comune\": \"{{ $json.citta }}\",\n    \"content\": \"Descrizione ticket\",\n    \"data_di_acquisto\": \"{{ $('format_data').item.json.data_nuova }}\",\n    \"telefono\": \"{{ $json.numero_telefono }}\",\n    \"provincia\": \"{{ $json.provincia }}\",\n    \"indirizzo\": \"{{ $json.indirizzo }}\",\n    \"numero_civico\": \"{{ $json.numero_civico }}\"\n\n    \n  },\n  \"associations\": [\n    {\n      \"to\": { \"id\": \"{{ $('Webhook').item.json.query.id_user_hubspot }}\" },\n      \"types\": [{ \n        \"associationCategory\": \"HUBSPOT_DEFINED\",\n        \"associationTypeId\": 16 \n      }]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        0
      ],
      "id": "0c1ed563-7af4-43ef-859f-5effcbd35f54",
      "name": "Insert Ticket",
      "credentials": {
        "hubspotAppToken": {
          "id": "jSTOqikAllxi1WBE",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1456,
        0
      ],
      "id": "059cd46c-758b-49d8-998a-2d8b707f5a2d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c3ba91a-ee97-48fa-b7b8-da82770fd886",
              "name": "data_nuova",
              "value": "={{    $('Webhook').item.json.query.data_acquisto     ? $('Webhook').item.json.query.data_acquisto.split('-').reverse().join('-')     : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "3e41db4e-3c2c-4f45-8412-e66653937bed",
      "name": "format_data"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id_user_hubspot",
              "keyValue": "={{ $('Webhook').item.json.query.id_user_hubspot }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "222b045e-3e2b-4690-9d57-f5d3e5147776",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "CgMgk0WRw1Lx9csu",
          "name": "Rinnai - Ncode"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "get data caldaia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get data caldaia": {
      "main": [
        [
          {
            "node": "format_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Ticket": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_data": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Insert Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.raffaelelugibello.it",
            "user-agent": "PostmanRuntime/7.49.0",
            "content-length": "0",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "auth": "ciaociao",
            "cache-control": "no-cache",
            "postman-token": "099260a7-cd25-4bb6-bfc1-23777a96d435",
            "via": "1.1 Caddy",
            "x-forwarded-for": "37.182.176.18",
            "x-forwarded-host": "n8n.raffaelelugibello.it",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {
            "serial_product": "NJ.KP-003131",
            "id_user_hubspot": "175635505797",
            "data_acquisto": "24-02-2025"
          },
          "body": {},
          "webhookUrl": "https://n8n.raffaelelugibello.it/webhook-test/insert_ticket",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "76c0f751-1b39-460c-8b29-0bc6ae0df8e3",
  "activeVersionId": null,
  "versionCounter": 8,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-11-13T10:02:27.942Z",
      "createdAt": "2025-11-13T10:02:27.942Z",
      "role": "workflow:owner",
      "workflowId": "iC6l2LW0PX7OwVPA",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-11-12T12:01:38.071Z",
      "createdAt": "2025-11-12T12:01:38.071Z",
      "id": "XoKPw6Lv8txipfRR",
      "name": "hubspot rinnai"
    }
  ],
  "activeVersion": null
}
