migrations/n8n/workflows/089_TEST_CHAT_1.json
{
  "updatedAt": "2024-06-27T17:48:44.000Z",
  "createdAt": "2024-06-25T17:33:49.913Z",
  "id": "iRcBTHWn4JwAMoEN",
  "name": "TEST CHAT 1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "ea7fff8a-ed3a-4acb-bb4f-bc64251d0e23",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        700,
        540
      ],
      "credentials": {
        "openAiApi": {
          "id": "igqCGsHg8vp0q97r",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Questo assistente deve rispondere solo alle domande relative al database e deve aiutare l'utente a recuperare i suoi menù e deve poter mostrare le categorie e i piatti del menù. inoltre ha la possibilità di creare e modificare i menù, le categorie di ogni menù e i piatti di ogni menù.\n"
        }
      },
      "id": "1b2cc9d7-5997-4498-8560-0cf5459f3449",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.5,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "name": "Trova_menu",
        "description": "Quando l'utente ti chiede quali sono i suoi menù fai partire l'automazione.\n\nLa risposta deve essere in linguaggio naturale cosi da far capire al meglio all'utente i suoi menù\n\nNella risposta ci devono sempre essere gli ID",
        "workflowId": "yBXTS3oLzT1kPxe5",
        "fields": {
          "values": [
            {
              "name": "profiles_id",
              "stringValue": "6ffb2b67-c543-4fe8-9104-5e9072cf5b63"
            }
          ]
        }
      },
      "id": "9d7b4319-b561-45f0-8647-16dd0126a712",
      "name": "Trova tutti i menù",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        920,
        580
      ]
    },
    {
      "parameters": {
        "name": "Trova_categorie_menu",
        "description": "Quando l'utente ti chiede di esplorare il menù e di farli vedere le categorie fai partire quest'automazione.\n\nL'utente però deve dire il menù del quale vuole sapere le categorie altrimenti non può partire quest'automazione.\n\nSolo per questo workflow devi mandare solo l'id del menù selezionato dall'utente \n\nLa risposta deve essere in linguaggio naturale così da far capire all'utente il suo menù\n\nNella risposta non ci devono mai essere gli ID",
        "workflowId": "NTWgr3oEg2zeCDtM",
        "fields": {
          "values": [
            {
              "name": "id_menu",
              "type": "numberValue",
              "numberValue": "="
            }
          ]
        }
      },
      "id": "58c8f0e0-519d-44ee-81ae-d6b689aa6cda",
      "name": "Trova categorie menù singolo",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1020,
        580
      ]
    },
    {
      "parameters": {
        "name": "trova_piatti",
        "description": "Quando l'utente sta esplorando le categorie di un menù e ti chiede di sapere cosa c'è all'interno di una categorie allora esegui questo workflow\n\nSolo per questo workflow devi mandare solo l'id della categoria selezionata dall'utente\n\nLa risposta deve sempre essere in linguaggio naturale\nNella risposta non ci devono mai essere gli ID",
        "workflowId": "mSLNpv8rnFBTexNb",
        "fields": {
          "values": [
            {
              "name": "id_categoria",
              "type": "numberValue",
              "numberValue": "170"
            }
          ]
        }
      },
      "id": "5f8196c0-03dd-464f-9cf4-26dd53c422a7",
      "name": "Trova piatti",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        1120,
        580
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Ciao sono Risteco AI, come posso aiutarti?",
        "options": {}
      },
      "id": "746326fe-93d3-4e8b-8d47-276c96b390bf",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        640,
        300
      ],
      "webhookId": "7ec1686f-49ab-4b4a-a171-ecaab1fba595"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trova tutti i menù": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Trova categorie menù singolo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Trova piatti": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "14d2e374-4a20-458f-830e-261099bf2f46",
  "activeVersionId": "14d2e374-4a20-458f-830e-261099bf2f46",
  "versionCounter": 6,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2024-06-25T17:33:49.916Z",
      "createdAt": "2024-06-25T17:33:49.916Z",
      "role": "workflow:owner",
      "workflowId": "iRcBTHWn4JwAMoEN",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-09T16:31:40.681Z",
    "createdAt": "2025-12-09T16:31:40.681Z",
    "versionId": "14d2e374-4a20-458f-830e-261099bf2f46",
    "workflowId": "iRcBTHWn4JwAMoEN",
    "nodes": [
      {
        "parameters": {
          "model": "gpt-4o",
          "options": {}
        },
        "id": "ea7fff8a-ed3a-4acb-bb4f-bc64251d0e23",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          700,
          540
        ],
        "credentials": {
          "openAiApi": {
            "id": "igqCGsHg8vp0q97r",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "Questo assistente deve rispondere solo alle domande relative al database e deve aiutare l'utente a recuperare i suoi menù e deve poter mostrare le categorie e i piatti del menù. inoltre ha la possibilità di creare e modificare i menù, le categorie di ogni menù e i piatti di ogni menù.\n"
          }
        },
        "id": "1b2cc9d7-5997-4498-8560-0cf5459f3449",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.5,
        "position": [
          860,
          300
        ]
      },
      {
        "parameters": {
          "name": "Trova_menu",
          "description": "Quando l'utente ti chiede quali sono i suoi menù fai partire l'automazione.\n\nLa risposta deve essere in linguaggio naturale cosi da far capire al meglio all'utente i suoi menù\n\nNella risposta ci devono sempre essere gli ID",
          "workflowId": "yBXTS3oLzT1kPxe5",
          "fields": {
            "values": [
              {
                "name": "profiles_id",
                "stringValue": "6ffb2b67-c543-4fe8-9104-5e9072cf5b63"
              }
            ]
          }
        },
        "id": "9d7b4319-b561-45f0-8647-16dd0126a712",
        "name": "Trova tutti i menù",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.1,
        "position": [
          920,
          580
        ]
      },
      {
        "parameters": {
          "name": "Trova_categorie_menu",
          "description": "Quando l'utente ti chiede di esplorare il menù e di farli vedere le categorie fai partire quest'automazione.\n\nL'utente però deve dire il menù del quale vuole sapere le categorie altrimenti non può partire quest'automazione.\n\nSolo per questo workflow devi mandare solo l'id del menù selezionato dall'utente \n\nLa risposta deve essere in linguaggio naturale così da far capire all'utente il suo menù\n\nNella risposta non ci devono mai essere gli ID",
          "workflowId": "NTWgr3oEg2zeCDtM",
          "fields": {
            "values": [
              {
                "name": "id_menu",
                "type": "numberValue",
                "numberValue": "="
              }
            ]
          }
        },
        "id": "58c8f0e0-519d-44ee-81ae-d6b689aa6cda",
        "name": "Trova categorie menù singolo",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.1,
        "position": [
          1020,
          580
        ]
      },
      {
        "parameters": {
          "name": "trova_piatti",
          "description": "Quando l'utente sta esplorando le categorie di un menù e ti chiede di sapere cosa c'è all'interno di una categorie allora esegui questo workflow\n\nSolo per questo workflow devi mandare solo l'id della categoria selezionata dall'utente\n\nLa risposta deve sempre essere in linguaggio naturale\nNella risposta non ci devono mai essere gli ID",
          "workflowId": "mSLNpv8rnFBTexNb",
          "fields": {
            "values": [
              {
                "name": "id_categoria",
                "type": "numberValue",
                "numberValue": "170"
              }
            ]
          }
        },
        "id": "5f8196c0-03dd-464f-9cf4-26dd53c422a7",
        "name": "Trova piatti",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.1,
        "position": [
          1120,
          580
        ]
      },
      {
        "parameters": {
          "public": true,
          "initialMessages": "Ciao sono Risteco AI, come posso aiutarti?",
          "options": {}
        },
        "id": "746326fe-93d3-4e8b-8d47-276c96b390bf",
        "name": "Chat Trigger",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1,
        "position": [
          640,
          300
        ],
        "webhookId": "7ec1686f-49ab-4b4a-a171-ecaab1fba595"
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Trova tutti i menù": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Trova categorie menù singolo": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Trova piatti": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Chat Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  }
}
