migrations/n8n/workflows/098_Trova_Piatti.json
{
  "updatedAt": "2024-06-26T18:10:26.000Z",
  "createdAt": "2024-06-26T17:42:31.865Z",
  "id": "mSLNpv8rnFBTexNb",
  "name": "Trova Piatti",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "0b70f908-935b-4b63-82c0-3cbc0e4e262a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        380,
        340
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "product",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "categories_id",
              "condition": "eq",
              "keyValue": "={{ $json.query }}"
            }
          ]
        }
      },
      "id": "f1ac4e48-a699-472a-8936-a75398971905",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        600,
        340
      ],
      "credentials": {
        "supabaseApi": {
          "id": "DyF80fsCycRfvlb3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "713d26ce-3ec4-4072-8683-3cf330e93029",
              "name": "response",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7d62ef7a-840a-410f-b06b-a5f207e27896",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1040,
        340
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "04465892-53bb-4ddd-a1d6-dd84afa9d043",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        820,
        340
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": 81
        }
      }
    ]
  },
  "versionId": "8e45e4b6-5435-4f6e-9afc-bd6a4a4debf5",
  "activeVersionId": "8e45e4b6-5435-4f6e-9afc-bd6a4a4debf5",
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2024-06-26T17:42:31.875Z",
      "createdAt": "2024-06-26T17:42:31.875Z",
      "role": "workflow:owner",
      "workflowId": "mSLNpv8rnFBTexNb",
      "projectId": "0AmEo4NBEOscZ3Iq",
      "project": {
        "updatedAt": "2024-10-14T23:37:33.647Z",
        "createdAt": "2024-10-14T23:37:33.647Z",
        "id": "0AmEo4NBEOscZ3Iq",
        "name": "raffaele lugibello <raffaelelugibello@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-10-14T23:37:33.649Z",
            "createdAt": "2024-10-14T23:37:33.649Z",
            "userId": "92cb5655-bd06-47de-bace-3df5438bc30e",
            "projectId": "0AmEo4NBEOscZ3Iq",
            "user": {
              "updatedAt": "2026-01-27T14:16:12.000Z",
              "createdAt": "2024-05-22T00:23:19.904Z",
              "id": "92cb5655-bd06-47de-bace-3df5438bc30e",
              "email": "raffaelelugibello@gmail.com",
              "firstName": "raffaele",
              "lastName": "lugibello",
              "personalizationAnswers": {
                "companyType": "personal",
                "reportedSource": "google",
                "version": "v4",
                "personalization_survey_submitted_at": "2024-05-22T01:09:14.581Z",
                "personalization_survey_n8n_version": "1.41.1"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "yaoggJbM3me6df8R",
                "isOnboarded": true,
                "userActivatedAt": 1728949053911,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768926632479
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-09T16:31:40.681Z",
    "createdAt": "2025-12-09T16:31:40.681Z",
    "versionId": "8e45e4b6-5435-4f6e-9afc-bd6a4a4debf5",
    "workflowId": "mSLNpv8rnFBTexNb",
    "nodes": [
      {
        "parameters": {},
        "id": "0b70f908-935b-4b63-82c0-3cbc0e4e262a",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          380,
          340
        ],
        "notesInFlow": true
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "product",
          "returnAll": true,
          "filters": {
            "conditions": [
              {
                "keyName": "categories_id",
                "condition": "eq",
                "keyValue": "={{ $json.query }}"
              }
            ]
          }
        },
        "id": "f1ac4e48-a699-472a-8936-a75398971905",
        "name": "Supabase",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          600,
          340
        ],
        "credentials": {
          "supabaseApi": {
            "id": "DyF80fsCycRfvlb3",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "713d26ce-3ec4-4072-8683-3cf330e93029",
                "name": "response",
                "value": "={{ $json.name }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "7d62ef7a-840a-410f-b06b-a5f207e27896",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          1040,
          340
        ]
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "name"
              }
            ]
          },
          "options": {}
        },
        "id": "04465892-53bb-4ddd-a1d6-dd84afa9d043",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          820,
          340
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  }
}
